extends layout

block content
  h1= title
  - var results = results
    div(class = 'container-fluid')
      div(class = 'row')
        each item,index in results 
          div(class="col-sm-2", onClick=`buy(${index})`) CarModel : #{item["carModel"]} <br> CarPrice : #{item["carPrice"]} <br> CarColor: #{item["carColor"]}
          script.
            function buy(val) {
              alert(`You purchased item ${val}`)
            }
