extends layout
block content
 h1(class='title')= title
 if (toShow == null)
   h2 No instance to delete
 else
  - let carid = toShow._id
  - let carModel = toShow.carModel
  - let carPrice = toShow.carPrice
  - let carColor = toShow.carColor
  div
   div.row(class='container')
   div(class='heading') MercedesBenz ID is:
   div(class='valuesStyle') #{carid}
   div.row
   div(class='heading') MercedesBenz Model is:
   div(class='valuesStyle') #{carModel}
   div.row
   div(class='heading') MercedesBenz price is:
   div(class='valuesStyle') #{carPrice}
   div.row
   div(class='heading') MercedesBenz Color is:
   div(class='valuesStyle') #{carColor}